


<div class="container">
  <div class="form-container">
    <!-- form -->
    <div class="current-country">
      <input type="number" id="amount" [(ngModel)]="From_amount"> 
      <label for="user-input">Select a country</label>
      <select [(ngModel)]="From_country" name="user-input" id="user-input">
        <option value="India">India</option>
        <option value="America">America</option>
        <option value="Russia">Russia</option>
        <option value="Sri Lanka">Sri Lanka</option>
        <option value="Australia">Australia</option>
      </select>
    </div>
    <div class="to-country">
      <input type="number" id="amount" [(ngModel)]="To_amount"> 
      <label for="user-input">Select a country</label>
      <select [(ngModel)]="To_country" name="user-input" id="user-input">
        <option value="India">India</option>
        <option value="America">America</option>
        <option value="Russia">Russia</option>
        <option value="Sri Lanka">Sri Lanka</option>
        <option value="Australia">Australia</option>
      </select>
    </div>
    <button type="submit" (click)="setToAmount()">Convert</button>
    <!-- form -->
  </div>
</div>

